# REAL ESTATE SALES ANALYSIS

# Project Goal

Using multiple linear regression modeling to analyze house sales in a northwestern county.

## OVERVIEW

- A brief overview of the business focusing on conducting regression analysis for house sales.
- It aims to explain the importance of regression analysis in understanding the factors that influence house prices and predicting future trends like waterfront and views.
- Highlighting the value that the business brings to clients by providing data-driven insights and accurate predictions.
- Conducts a market analysis to identify the target market for the regression analysis services.
- Analyze the demand for real estate market insights and the need for accurate predictions

# 1. Business Understanding

## a.) Introduction

- The business specializes in providing regression analysis services for house sales. It understands the importance of utilizing data-driven insights to understand the factors that influence house prices and predict future trends accurately. By conducting thorough market analysis, the business identifies the target market and the demand for real estate market insights and predictions.

- Overall, the business understands the significance of regression analysis in the context of house sales. It leverages data, statistical expertise, and predictive modeling to provide valuable insights to clients, enabling them to make informed decisions in the dynamic real estate market in Northwestern county.

## b.) Problem Statement

- The real estate industry faces the challenge of accurately understanding the factors that influence house prices and predicting future trends. Many stakeholders, including buyers, sellers, investors, and lenders, seek reliable insights to make informed decisions. However, the complexity of the market and the multitude of variables involved make it difficult to obtain accurate predictions and data-driven insights.
- There is a need for a specialized business that comprehends the intricacies of house sale regression analysis. Such a business should possess a deep understanding of the real estate market, employ robust methodologies for data collection and analysis, develop accurate regression models, and deliver clear and understandable reports to clients.

- By addressing these challenges, the business can provide reliable predictions of house prices, identify significant factors influencing the market, and offer actionable insights to clients. This will empower stakeholders to make informed decisions, mitigate risks, optimize investments, and maximize returns in the dynamic real estate industry.

## c.) Main Objective

The primary focus is on delivering value to clients by:

- Predicting House Prices: Developing robust regression models that consider various factors such as location, size, amenities, and market trends to accurately predict house prices. The objective is to provide clients with reliable estimates of property values, empowering them to make informed buying, selling, or investment decisions.

- Identifying Market Influencers: Analyzing the data to identify significant factors that impact the real estate market, such as economic indicators, neighborhood characteristics, interest rates, and supply and demand dynamics. The objective is to help clients understand the key drivers of property values and recognize emerging trends.

- Ensuring Data Accuracy and Reliability: Implementing robust data collection, cleaning, and preprocessing methodologies to ensure the accuracy and reliability of the data used in the regression analysis. The objective is to provide clients with reliable and trustworthy insights to support their decision-making processes.

- Building Strong Client Relationships: Prioritizing client needs and fostering strong relationships to understand their specific requirements and tailor analysis and insights accordingly. The objective is to provide personalized services and cultivate long-term collaborations and repeat business.

## d.) Specific Objective

- Providing Actionable Insights: Presenting findings and insights in clear and understandable reports, customized based on client requirements. The objective is to provide clients with actionable recommendations that enable them to optimize their real estate strategies, mitigate risks, and maximize returns.

## e.) Experimental Design

1. Data Collection
2. Data cleaning
3. Training the data
4. Modelling and Analysis
5. Conclusions and Recommendations

# 2. Data Understanding

This project uses the King County House Sales dataset, which can be found in kc_house_data.csv in the data folder in this git respiratory . The description of the column names can be found in column_names.md in the same folder. As with most real world data sets, the column names are not perfectly described so will figure out how to access this as we continue

Lets ignore some or all of the following features:

- date
- view
- sqft_above
- sqft_basement
- yr_renovated
- zipcode
- lat
- long
- sqft_living15
- sqft_lot15

## a.) Importing Data

Below is the import for the data.

In [32]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
%matplotlib inline

## b.) Loading Data

Okay lets load the data for the north western county preset

In [33]:
data = pd.read_csv(r"C:\Users\Administrator\Desktop\Moringa\Phase 2\Project 2\kc_house_data.csv")
data.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,...,11 Excellent,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,NO,NONE,...,7 Average,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,2008000270,1/15/2015,291850.0,3,1.50,1060,9711,1.0,NO,NaN,...,7 Average,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,NO,NONE,...,7 Average,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,NO,NONE,...,7 Average,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570

In [34]:
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## c.) Data Cleaning

### i.) Handling Missing Values

Some of the data has question marks it has to be replaced

In [35]:
data.replace('?', 0.0, inplace=True)

Now let deal with missing values in the data by dropping them in both column and rows

In [36]:
data = data.dropna()
data.head(30)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,...,11 Excellent,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,NO,NONE,...,7 Average,1715,0.0,1995,0.0,98003,47.3097,-122.327,2238,6819
8,2414600126,4/15/2015,229500.0,3,1.00,1780,7470,1.0,NO,NONE,...,7 Average,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3793500160,3/12/2015,323000.0,3,2.50,1890,6560,2.0,NO,NONE,...,7 Average,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570
11,9212900260,5/27/2014,468000.0,2,1.00,1160,6000,1.0,NO,NONE,...,7 Average,860,300.0,1942,0.0,98115,47.6900,-122.292,1330,6000
13,6054650070,10/7/2014,400000.0,3,1.75,1370,9680,1.0,NO,NONE,...,7 Average,1370,0.0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,1175000570,3/12/2015,530000.0,5,2.00,1810,4850,1.5,NO,NONE,...,7 Average,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850
15,9297300055,1/24/2015,650000.0,4,3.00,2950,5000,2.0,NO,GOOD,...,9 Better,1980,970.0,1979,0.0,98126,47.5714,-122.375,2140,4000
16,1875500060,7/31/2014,395000.0,3,2.00,1890,14040,2.0,NO,NONE,...,7 Average,1890,0.0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,6865200140,5/29/2014,485000.0,4,1.00,1600,4300,1.5,NO,NONE,...,7 Average,1600,0.0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,NO,NONE,...,7 Average,1200,0.0,1921,0.0,98002,47.3089,-122.210,1060,5095
19,7983200060,4/24/2015,230000.0,3,1.00,1250,9774,1.0,NO,NONE,...,7 Average,1250,0.0,1969,0.0,98003,47.3343,-122.306,1280,8850
20,6300500875,5/14/2014,385000.0,4,1.75,1620,4980,1.0,NO,NONE,...,7 Average,860,760.0,1947,0.0,98133,47.7025,-122.341,1400,4980
21,2524049179,8/26/2014,2000000.0,3,2.75,3050,44867,1.0,NO,EXCELLENT,...,9 Better,2330,720.0,1968,0.0,98040,47.5316,-122.233,4110,20336
22,7137970340,7/3/2014,285000.0,5,2.50,2270,6300,2.0,NO,NONE,...,8 Good,2270,0.0,1995,0.0,98092,47.3266,-122.169,2240,7005
24,3814700200,11/20/2014,329000.0,3,2.25,2450,6500,2.0,NO,NONE,...,8 Good,2450,0.0,1985,0.0,98030,47.3739,-122.172,2200,6865
25,1202000200,11/3/2014,233000.0,3,2.00,1710,4697,1.5,NO,NONE,...,6 Low Average,1710,0.0,1941,0.0,98002,47.3048,-122.218,1030,4705
27,3303700376,12/1/2014,667000.0,3,1.00,1400,1581,1.5,NO,NONE,...,8 Good,1400,0.0,1909,0.0,98112,47.6221,-122.314,1860,3861
29,1873100390,3/2/2015,719000.0,4,2.50,2570,7173,2.0,NO,NONE,...,8 Good,2570,0.0,2005,0.0,98052,47.7073,-122.110,2630,6026
30,8562750320,11/10/2014,580500.0,3,2.50,2320,3980,2.0,NO,NONE,...,8 Good,2320,0.0,2003,0.0,98027,47.5391,-122.070,2580,3980
31,2426039314,12/1/2014,280000.0,2,1.50,1190,1265,3.0,NO,NONE,...,7 Average,1190,0.0,2005,0.0,98133,47.7274,-122.357,1390,1756
32,461000390,6/24/2014,687500.0,4,1.75,2330,5000,1.5,NO,NONE,...,7 Average,1510,820.0,1929,0.0,98117,47.6823,-122.368,1460,5000
33,7589200193,11/10/2014,535000.0,3,1.00,1090,3000,1.5,NO,NONE,...,8 Good,1090,0.0,1929,0.0,98117,47.6889,-122.375,1570,5080
34,7955080270,12/3/2014,322500.0,4,2.75,2060,6659,1.0,NO,NONE,...,7 Average,1280,780.0,1981,0.0,98058,47.4276,-122.157,2020,8720
35,9547205180,6/13/2014,696000.0,3,2.50,2300,3060,1.5,NO,NONE,...,8 Good,1510,790.0,1930,2002.0,98115,47.6827,-122.310,1590,3264
36,9435300030,5/28/2014,550000.0,4,1.00,1660,34848,1.0,NO,NONE,...,5 Fair,930,730.0,1933,0.0,98052,47.6621,-122.132,2160,11467
37,2768000400,12/30/2014,640000.0,4,2.00,2360,6000,2.0,NO,NONE,...,8 Good,2360,0.0,1904,0.0,98107,47.6702,-122.362,1730,4700

In [37]:
data = data.dropna(axis=1)
data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,7237550310,5/12/2014,1230000.0,4,4.50,5420,101930,1.0,NO,NONE,...,11 Excellent,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,NO,NONE,...,7 Average,1715,0.0,1995,0.0,98003,47.3097,-122.327,2238,6819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21591,2997800021,2/19/2015,475000.0,3,2.50,1310,1294,2.0,NO,NONE,...,8 Good,1180,130.0,2008,0.0,98116,47.5773,-122.409,1330,1265
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,...,8 Good,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,...,8 Good,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,...,7 Average,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,...,7 Average,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

### ii.) Remove Unnecessary Columns

Now its has the necessary values in place. Next lets remove the columns and through combination we choose to ignore to make use for our modelling

In [52]:
print(data.columns)

Index(['id', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot',
       'floors', 'waterfront', 'condition', 'grade', 'yr_built', 'lat'],
      dtype='object')

In [54]:
# Specify the columns to be removed
remove_columns = ['date', 'view', 'sqft_above', 'sqft_basement', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

# Remove existing columns
existing_columns = [col for col in remove_columns if col in data.columns]
data.drop(columns=existing_columns, inplace=True)

In [57]:
data.head(20)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built
1,6414100192,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,1951
3,2487200875,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1965
4,1954400510,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1987
5,7237550310,1230000.0,4,4.50,5420,101930,1.0,NO,Average,11 Excellent,2001
6,1321400060,257500.0,3,2.25,1715,6819,2.0,NO,Average,7 Average,1995
8,2414600126,229500.0,3,1.00,1780,7470,1.0,NO,Average,7 Average,1960
9,3793500160,323000.0,3,2.50,1890,6560,2.0,NO,Average,7 Average,2003
11,9212900260,468000.0,2,1.00,1160,6000,1.0,NO,Good,7 Average,1942
13,6054650070,400000.0,3,1.75,1370,9680,1.0,NO,Good,7 Average,1977
14,1175000570,530000.0,5,2.00,1810,4850,1.5,NO,Average,7 Average,1900
15,9297300055,650000.0,4,3.00,2950,5000,2.0,NO,Average,9 Better,1979
16,1875500060,395000.0,3,2.00,1890,14040,2.0,NO,Average,7 Average,1994
17,6865200140,485000.0,4,1.00,1600,4300,1.5,NO,Good,7 Average,1916
18,16000397,189000.0,2,1.00,1200,9850,1.0,NO,Good,7 Average,1921
19,7983200060,230000.0,3,1.00,1250,9774,1.0,NO,Good,7 Average,1969
20,6300500875,385000.0,4,1.75,1620,4980,1.0,NO,Good,7 Average,1947
21,2524049179,2000000.0,3,2.75,3050,44867,1.0,NO,Average,9 Better,1968
22,7137970340,285000.0,5,2.50,2270,6300,2.0,NO,Average,8 Good,1995
24,3814700200,329000.0,3,2.25,2450,6500,2.0,NO,Good,8 Good,1985
25,1202000200,233000.0,3,2.00,1710,4697,1.5,NO,Very Good,6 Low Average,1941

Now it has the relevant columns to use for modelling the data.

### iii.) Handling Categorical Values

In [58]:
encoded_data = pd.get_dummies(data, columns=['categorical_variable'])

KeyError: "None of [Index(['categorical_variable'], dtype='object')] are in the [columns]"

Lets find if there is a correlation between price and other variables